footer {
    background-color: #464547;
    padding-left: 10%;
    padding-bottom: 2rem;
  }
  
  .footer-project {
    margin-top: 0;
    padding-top: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .copyright {
    margin-bottom: 0;
  }
  
  .contact-info {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }
  