  body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    padding: 3rem;
    background-image: url("../assets/image1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
  }
  
  .navbar li {
    display: inline;
  }
  
  .PROJECT {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .navbar-menu a {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .navbar-menu li {
    margin-left: 2rem;
  }
  
  .hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-block {
    align-items: center;
    text-align: center;
  }
  
  .headline {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .lower_headline {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(250, 250, 250);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
  }
  
  
  
  
  
  