.learn-more {
    background-image: url("../assets/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(140, 79, 42, 0.3);
  }
  
  .bottom-headline {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    padding-top: 50px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-button {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: #39C2D7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    position: absolute;
  }
  
  .under-playbutton {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 70px;
    margin-bottom: 0;
  }