.main {
    text-align: center;
    margin: 0;
    padding: 2rem;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
  }
  
  .main-content {
    width: 70%;
  }
  
  .main-headline {
    margin: 0;
    padding-top: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
  }
  
  .sub-headline {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
  }
  
  .paragraph {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  
  .read-more {
    background: #55C2D8;
    border-radius: 18px;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    border: none;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 0.5rem 1rem;
  }